// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Combine the partials into a single screen stylesheet.
@import "partials/page";
@import "partials/form";
@import "partials/two_col";

@import "compass/css3/box-sizing";
@import "compass/utilities/general/clearfix";
@import "compass/css3/border-radius";

@import "partials/jui";

$link_normal: #5F88CE;

body.bp{
	a,a:active,a:visited{color:$link_normal;text-decoration:none;}
}
body.bp a:hover{color:$link_normal;text-decoration:underline;}

body.bp .error{
	margin:0;
	padding:0;
	vertical-align: top;
}
body{
	background: #4483B4;
}
#content{
	background: white;
	padding:15px;
	@include box-sizing(border-box);
	@include border-radius(5px);
	min-height: 500px;
}
body.two-col #sidebar{
	float:right;
}
input[type="radio"], input[type="checkbox"]{
	margin:0;
}

#header{
	margin:20px 0;
}
	#header-top{
		@include clearfix;
	}
	#notice{
		background-color: #FFF8CC;
		border: 1px solid #FFE222;
		padding:8px;
		margin:15px 0;
	}
	#logo{
		float:left;
		a{
			display:block;
			width:110px;
			height:40px;
			background:url(/images/campus.png) no-repeat;
		}
	}
	#campus-name{
		float:left;
		font-size:22px;
		margin:14px 20px 0;
		line-height:1;
		color: #CFEEF6;
		text-shadow: #333 0px 1px 0px;
		a{
			color: white;
		}
		a:hover{
			text-decoration:none;
		}
	}
#campuses{
	@include clearfix;
}
.campus{
	float:left;
	margin:10px;
	font-size:16px;
}
#new_boom{
	border-bottom: 2px solid #E5E5E5;
	.field{
		margin-bottom:10px;
	}
}
	.field span{
		font-size:13px;
	}
	#boom_hair{
		width:90px;
	}
	#boom_location{
		width:150px;
	}
	#boom_flirt{
		width:430px;
	}
#booms{
}
	.boom{
		padding:14px 10px 15px;
		border-bottom: 1px solid #E5E5E5;
	}
		.boom-title{
			font-size:16px;
			color: $link_normal;
		}
		.flirt{
			font-size:14px;
			margin-bottom:5px;
		}
		.opt{
		}
		.timestamp{
			color:#ABABAB;
		}
textarea, input[type="text"], input[type="password"]{
	border:1px solid #ccc;
	@include box-sizing(border-box);
	font-size:13px;
}
#new_message textarea{
	width:100%;
}
.comment, .msg{
  background: #F1F6F9;
  margin: 5px 0px;
  padding: 10px;
}
#received, #sent{
	margin:20px 0;
}
#anchor-change{
	font-size:13px;
}
#sidebar h2 a{
	color: #DCEBF6;
}
#sidebar h2 a:hover{
	color: white;
	text-decoration:none;
}
#sidebar-anchors{
	font-size:16px;
	a{
		margin:10px;
		color: #DCEBF6;
	}
	a:hover{
		color: white;
		text-decoration:none;
	}
}